<div id="header">Edit User</div>
<div class="form">
<%= form_for @user do |f| %>
  <% if current_user.is_admin==1 %>
	  <%= f.label :login %><br />
	  <%= f.text_field :login %><br />
	  <br />
  <% end %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <% if current_user.is_admin==1 %>
	  <%= f.label :is_admin %><br />
	  <%= f.check_box :is_admin %><br />
	  <br />
  <% end %>
  <%= f.submit "Edit" %>
<% end %>
</div>
