<div id="notice"><%= flash[:notice] %></div>
<% if @contact %>
		 
		<div id = "contact" >
		
		<div class = "contactinfo">
		<h2><%=@contact.name.upcase %></h2>
		<p>
		<%= @contact.address %><br/><br/>
		<%= @contact.phone.upcase %><br/><br/>
		<%= @contact.email %><br/><br/>
		<%= "Open " + @contact.opening_hours %><br/><br/>
		Find us on:<br/>
		<%= link_to image_tag('facebook_white.png') + "| Facebook", @contact.facebook, :style=> "float: left;", :target=>"_blank" %>
		<%= link_to image_tag('googlemaps.png') + "| Google maps", "http://maps.google.com?q=" + @contact.address, :style=> "float: right;", :target=>"_blank" %><br/><br/><br/>
		<%= link_to "Update contact info", edit_contact_path(@contact) %>
		<%= link_to "Reset contact info", contact_path(@contact), method: "delete", data: { confirm: 'Are you sure?'} %>
		</p>
		</div>
<% else %>
	<p> You haven't added any contact information to the site</p></br>
	<%= link_to "Add contact information", action: "new" %>
<% end %>
	
