<div id="notice"><%= flash[:notice] %></div>
<% if @contact %>
		 
		<div id = "contact" >
		<p><%=@contact.name.upcase %><br/>
		<%= @contact.address.upcase %><br/>
		<%= @contact.phone.upcase %><br/>
		<%= @contact.email.upcase %><br/>
		<%= @contact.opening_hours.upcase %><br/>
		<%= @contact.facebook.upcase %><br/>
		<%= link_to "Update contact info", edit_contact_path(@contact) %>
		<%= link_to "Reset contact info", contact_path(@contact), method: "delete", data: { confirm: 'Are you sure?'} %>
		</p>
		</div>
<% else %>
	<p> You haven't added any contact information to the site</p></br>
	<%= link_to "Add contact information", action: "new" %>
<% end %>
	
