<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<div id="notice"><%= flash[:notice] %></div>
<% if @contact %>
		<p><%=@contact.name %><br/>
		<%= @contact.address %><br/>
		<%= @contact.phone %><br/>
		<%= @contact.email %><br/>
		<%= @contact.opening_hours %><br/>
		<%= @contact.facebook %><br/>
		<%= link_to "Update contact info", edit_contact_path(@contact) %>
		<%= link_to "Reset contact info", contact_path(@contact), method: "delete", data: { confirm: 'Are you sure?'} %>
		</p>
<% else %>
	<p> You haven't added any contact information to the site</p></br>
	<%= link_to "Add contact information", action: "new" %>
<% end %>
	
