<div id="notice"><%= flash[:notice] %></div>
<div id="wrapper">
<ul class="slider">
	<% @photos.each do |p| %>
		<li>
		<% if @first==1 %>
			<%= radio_button_tag "slide", p.id.to_s(), true %>
			<% @first = 0 %>
		<% else %>
			<%= radio_button_tag "slide", p.id.to_s() %>
		<% end %>
		<%= label_tag "slide_"+p.id.to_s(), "" %>
		<%= image_tag p.image.url(:large) %>
		</li>
	<% end %>
</ul>
</div>
<!--<p>
<%= link_to "Upload new photo", action: "new" %>
</p>-->
