<% content_for :head do %>
	<style type="text/css">
	<% for i in 0..@photos.length-1 %>
		.slider li:nth-child(<%= i+1%>) label {
			left: <%= (25*i).to_s + "px" %>;
		}
	<% end %>
	</style>
<% end %>
		
<div id="header">The Bar</div>
<div class="linkedit"><%= link_to "Edit images", action: "editimages" %></div>

<ul class="slider">
	<% @photos.each do |p| %>
		<li>
		<% if @first==1 %>
			<%= radio_button_tag "slide", p.id.to_s(), true %>
			<% @first = 0 %>
		<% else %>
			<%= radio_button_tag "slide", p.id.to_s() %>
		<% end %>
		<%= label_tag "slide_"+p.id.to_s(), "" %>
		<%= image_tag p.image.url(:large) %>
		</li>
	<% end %>
</ul>
<!--<p>
<%= link_to "Upload new photo", action: "new" %>
</p>-->
