<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag %>
	<title>Melody Nelson Bar</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>
<div id="logo"><%= link_to image_tag("logo.jpg"), events_path %></div>
		<div id="sidebar">
			<ul>
				<li><%= link_to "BAR", photos_path, id: cp(photos_path) %></li>
				<li><%= link_to "MENU", events_path, id: cp(photos_path) %></li>
				<li><%= link_to "EVENTS", events_path, id: ccon("events") %></li>
				<li><%= link_to "CONTACT", contacts_path, id: cp(contacts_path) %></li>
			<ul>
		</div>
		<div id="logout">
			<% if current_user_session %>
				<%= "Logged in as "+current_user.login %><br />
				<%= link_to "Logout", user_session_path(current_user_session), method: "delete", data: { confirm: 'Are you sure?'} %><br />
				<%= link_to "Change password", edit_user_path(current_user) %>
				<% if current_user.is_admin==1 %>
					<br /><%= link_to "Manage users", users_path %>
				<% end %>
			<% end %>
		</div>
		<div id="content">
			<%= yield %>
		</div>
<div id="notice"><%= flash[:notice] %></div>



</body>
</html>
